.wrapper {
  margin-right: 10px;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;

  border: none;
  padding: 11px 25px 9px 0px;

  cursor: pointer;
}

.select {
  background-image: url('../../images/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
}

.select:focus {
  background-image: url('../../images/arrow-up.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  outline: 1px solid transparent;
}
